torch==2.2.2
torch-geometric==2.6.1
numpy==1.26.4
scipy==1.13.1
pandas==2.2.3
scikit-learn==1.6.1
matplotlib==3.10.1
seaborn==0.13.2
imbalanced-learn==0.13.0
rdkit==2024.9.6
networkx==3.3
tqdm==4.67.1
